@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Damion);
html, body {
  margin: 0;
  padding: 0; }

section, header {
  width: 100%; }

section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

h1 {
  color: #000;
  font: 100 5.625em "Quicksand", sans-serif; }

h2 {
  color: #000;
  font: 100 4em "Quicksand", sans-serif; }

h3 {
  font: 1.875em "Bebas", sans-serif;
  text-align: center; }

h5 {
  font: 1.375em "Quicksand", sans-serif; }

p {
  font: 100 0.875em "Quicksand", sans-serif; }

form.ng-dirty .ng-invalid {
  border: 1px solid red; }

form .styled-select, form .styled-input {
  height: 90px;
  margin-top: 20px;
  overflow: hidden; }
  form .styled-select.left, form .styled-input.left {
    float: left; }
  form .styled-select.right, form .styled-input.right {
    float: right; }
  form .styled-select label, form .styled-input label {
    color: #000;
    cursor: default;
    float: left;
    font: 1.25em "Quicksand", sans-serif; }
  form .styled-select input, form .styled-select select, form .styled-input input, form .styled-input select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #000;
    font: 1.25em "Quicksand", sans-serif;
    height: 60px;
    text-indent: 10px; }
    form .styled-select input:focus, form .styled-select select:focus, form .styled-input input:focus, form .styled-input select:focus {
      outline: none; }
  form .styled-select select, form .styled-input select {
    background: url("../img/arrow.svg") no-repeat 90% center;
    background-size: 35px 35px;
    border-radius: 0;
    width: 90%; }
  form .styled-select option, form .styled-input option {
    background: #FFF; }
  form .styled-select input, form .styled-input input {
    clear: both;
    float: left;
    width: 253px; }
  form .styled-select button, form .styled-input button {
    margin-top: 40px; }

button {
  background: transparent;
  border: 1px solid #000;
  color: #000;
  font: 3.125em "Quicksand", sans-serif;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  width: 220px; }
  button span {
    position: relative;
    -moz-transition: .5s left;
    -o-transition: .5s left;
    -webkit-transition: .5s left;
    transition: .5s left; }
  button span.text {
    left: 30px; }
  button span.arrow {
    left: 70px; }
  button:hover span {
    left: -1px; }
  button:active {
    left: 1px;
    top: 1px; }
  button:focus {
    outline: none; }

body {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  background: #000 url("../../assets/img/car-ride-bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-size: 100%;
  min-height: 100%;
  width: 100%; }
  body[state="results.list"], body[state="results.dog"], body[state="results.loading"] {
    background: #FFF; }
    body[state="results.list"] header button, body[state="results.dog"] header button, body[state="results.loading"] header button {
      display: block; }
    body[state="results.list"] header a, body[state="results.dog"] header a, body[state="results.loading"] header a {
      color: #000;
      display: block;
      font-size: 4.375em;
      margin: 0;
      text-align: center; }
  body[state="home"], body[state="search"] {
    position: fixed; }
    body[state="home"] header, body[state="search"] header {
      padding-top: 10px; }
      body[state="home"] header a, body[state="search"] header a {
        margin-left: 60px; }

header button {
  border: none;
  color: #000;
  display: none;
  left: 20px;
  position: absolute;
  top: 15px;
  width: 80px; }
  header button span.text {
    left: 7px; }
  header button:hover span {
    left: 0; }
  header button:active {
    left: 21px;
    position: absolute;
    top: 16px; }

header a {
  color: #000;
  cursor: pointer;
  font: 700 5.625em "Damion", sans-serif;
  margin: 0 20px 20px 20px;
  text-decoration: none; }

section#main section#start-search {
  width: 700px;
  padding: 0 30px 0 60px; }
  section#main section#start-search h2 {
    margin: 30px 0; }
  section#main section#start-search button {
    margin-top: 10px; }
    section#main section#start-search button span.text {
      left: 25px; }
    section#main section#start-search button:hover span {
      left: 0; }

section#main section#search {
  padding: 0 30px 0 60px; }
  section#main section#search form {
    width: 555px; }
    section#main section#search form .styled-select input, section#main section#search form .styled-input input {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px; }
      section#main section#search form .styled-select input[name=breed], section#main section#search form .styled-input input[name=breed] {
        margin-right: 20px;
        width: 220px; }
    section#main section#search form .styled-select ul.breed-list, section#main section#search form .styled-input ul.breed-list {
      display: none;
      height: 190px;
      margin: 0;
      padding: 0;
      position: absolute;
      overflow: scroll;
      top: 215px;
      width: 232px;
      z-index: 2; }
      section#main section#search form .styled-select ul.breed-list li, section#main section#search form .styled-input ul.breed-list li {
        background: #FFF;
        border-bottom: 1px solid #000;
        color: #000;
        cursor: pointer;
        font: 0.875em "Quicksand";
        list-style: none;
        padding: 10px 5px;
        text-align: center; }
        section#main section#search form .styled-select ul.breed-list li:hover, section#main section#search form .styled-input ul.breed-list li:hover {
          background: #000;
          color: #FFF; }
    section#main section#search form .select-range {
      float: right;
      width: 265px; }
    section#main section#search form .select-range, section#main section#search form input[name=zipcode] {
      margin-bottom: 0; }
    section#main section#search form .select-age {
      margin-right: 10px;
      width: 140px; }
    section#main section#search form .select-gender {
      width: 150px; }
    section#main section#search form button {
      float: left;
      margin-top: 20px; }
      section#main section#search form button span.text {
        left: 3px; }
      section#main section#search form button:hover span.text {
        left: -3px; }

section#main section#results {
  overflow: hidden;
  top: 70px; }
  section#main section#results button {
    border: none;
    color: #000;
    height: 30px;
    line-height: 1.25em;
    left: 20px;
    position: relative;
    width: 80px; }
    section#main section#results button span.text {
      left: 7px; }
    section#main section#results button:hover span {
      left: 0; }
  section#main section#results #loading-wrap, section#main section#results .not-found {
    height: 100%;
    width: 100%; }
    section#main section#results #loading-wrap h3, section#main section#results .not-found h3 {
      color: #000;
      font: 3.125em "Quicksand";
      margin: auto;
      text-align: center;
      text-transform: lowercase;
      width: 60%; }
      section#main section#results #loading-wrap h3 span, section#main section#results .not-found h3 span {
        width: auto;
        position: absolute; }
  section#main section#results #dog-results {
    margin: auto; }
    section#main section#results #dog-results #results-wrap {
      display: none;
      -webkit-column-count: 4;
      -webkit-column-gap: 2%;
      -moz-column-count: 4;
      -moz-column-gap: 2%;
      column-count: 4;
      column-gap: 2%; }
      section#main section#results #dog-results #results-wrap *, section#main section#results #dog-results #results-wrap *:before, section#main section#results #dog-results #results-wrap *:after {
        box-sizing: border-box; }
      section#main section#results #dog-results #results-wrap .dog-container {
        cursor: pointer;
        margin: 4%;
        width: 25%;
        display: inline-block;
        margin: 0 0 1em;
        position: relative;
        width: 100%; }
        section#main section#results #dog-results #results-wrap .dog-container .img-wrap {
          height: 100%;
          margin: auto;
          position: relative;
          width: 100%; }
          section#main section#results #dog-results #results-wrap .dog-container .img-wrap .dog-img {
            display: block;
            margin: auto;
            max-width: 100%; }
          section#main section#results #dog-results #results-wrap .dog-container .img-wrap .dog-info {
            -webkit-transition: all 500ms linear;
            -moz-transition: all 500ms linear;
            -ms-transition: all 500ms linear;
            -o-transition: all 500ms linear;
            transition: all 500ms linear;
            background: #000;
            background: rgba(0, 0, 0, 0.8);
            min-width: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0; }
            section#main section#results #dog-results #results-wrap .dog-container .img-wrap .dog-info h3 {
              color: #FFF;
              font: 2em "Quicksand"; }
        section#main section#results #dog-results #results-wrap .dog-container:hover .img-wrap .dog-info {
          opacity: 1; }
  section#main section#results #focused-dog {
    overflow: hidden;
    margin: 0 auto 60px;
    max-width: 1100px;
    top: 70px;
    left: 0;
    right: 0;
    padding: 30px;
    width: 90%; }
    section#main section#results #focused-dog .left {
      float: left;
      width: 37%; }
      section#main section#results #focused-dog .left .img-wrap {
        margin-top: 10px;
        max-height: 380px;
        overflow: hidden;
        width: 100%; }
        section#main section#results #focused-dog .left .img-wrap img {
          width: 100%; }
      section#main section#results #focused-dog .left .dog-info .span-group {
        text-align: center; }
        section#main section#results #focused-dog .left .dog-info .span-group span {
          color: #000;
          font: 1.375em "Quicksand";
          text-transform: lowercase; }
          section#main section#results #focused-dog .left .dog-info .span-group span:nth-child(2)::before, section#main section#results #focused-dog .left .dog-info .span-group span:nth-child(3)::before {
            content: "\2022";
            display: inline-block;
            height: 27px;
            margin-right: 7px;
            position: relative;
            width: 27px; }
      section#main section#results #focused-dog .left .dog-info h5 {
        font-size: 2.8125em;
        margin: 10px 0;
        text-align: center; }
    section#main section#results #focused-dog .right {
      float: right;
      margin-left: 2%;
      width: 57%; }
      section#main section#results #focused-dog .right span {
        color: #000;
        font: 1.125em "Quicksand";
        text-transform: lowercase; }
      section#main section#results #focused-dog .right .details {
        border: 1px solid #000;
        padding: 2%; }
        section#main section#results #focused-dog .right .details h5 {
          font-size: 1.5em;
          margin: 0;
          text-align: center; }
        section#main section#results #focused-dog .right .details span {
          display: block;
          margin: 2px 0; }
          section#main section#results #focused-dog .right .details span a {
            color: #000; }
          section#main section#results #focused-dog .right .details span::before {
            content: "";
            display: inline-block;
            height: 27px;
            margin-right: 7px;
            position: relative;
            top: 9px;
            width: 27px; }
          section#main section#results #focused-dog .right .details span.address::before {
            background: url("../../assets/img/location-pin.svg") no-repeat; }
          section#main section#results #focused-dog .right .details span.phone::before {
            background: url("../../assets/img/smart-phone.svg") no-repeat; }
          section#main section#results #focused-dog .right .details span.email::before {
            background: url("../../assets/img/envelope.svg") no-repeat; }
          section#main section#results #focused-dog .right .details span.website::before {
            background: url("../../assets/img/browser-window.svg") no-repeat; }
        section#main section#results #focused-dog .right .details.dog-details {
          margin-bottom: 20px; }
          section#main section#results #focused-dog .right .details.dog-details .dog-description {
            max-height: 260px;
            overflow-y: scroll; }
            section#main section#results #focused-dog .right .details.dog-details .dog-description * {
              color: #000 !important;
              font: 100 1em "Quicksand" !important; }

@media (max-width: 960px) {
  body {
    background-image: url("../../assets/img/car-ride-bg-mobile.jpg");
    background-position: center bottom;
    font-size: 70%; }
    body[state="home"] header, body[state="search"] header {
      margin: auto;
      padding: 0;
      width: 90%; }
      body[state="home"] header a, body[state="search"] header a {
        margin-left: 0; }
  section#main {
    margin: 0 auto;
    width: 90%; }
    section#main button {
      width: 190px; }
    section#main section#start-search, section#main section#search {
      margin: auto;
      padding: 0;
      width: 100%; }
    section#main section#search form {
      margin: auto;
      width: 100%; }
      section#main section#search form .styled-input, section#main section#search form .styled-select {
        float: left;
        width: 48%; }
        section#main section#search form .styled-input.styled-select, section#main section#search form .styled-select.styled-select {
          margin-left: 2%; }
          section#main section#search form .styled-input.styled-select select, section#main section#search form .styled-select.styled-select select {
            background-size: 17px 17px; }
        section#main section#search form .styled-input input, section#main section#search form .styled-input input[name=breed], section#main section#search form .styled-input select, section#main section#search form .styled-select input, section#main section#search form .styled-select input[name=breed], section#main section#search form .styled-select select {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%; }
        section#main section#search form .styled-input.select-age, section#main section#search form .styled-input.select-gender, section#main section#search form .styled-select.select-age, section#main section#search form .styled-select.select-gender {
          margin-right: 0;
          width: 22%; }
        section#main section#search form .styled-input.select-age, section#main section#search form .styled-select.select-age {
          margin-right: 0; }
      section#main section#search form button {
        width: 48%; }
    section#main section#results {
      top: 20px; }
      section#main section#results #dog-results #results-wrap {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2; }
      section#main section#results #focused-dog {
        padding: 0;
        top: 0; }
        section#main section#results #focused-dog .left, section#main section#results #focused-dog .right {
          float: none;
          margin: auto;
          width: 95%; } }

section#main section {
  position: absolute; }

#focused-dog, #dog-results {
  width: 90%; }

.animate-switch.ng-animate, .animate-push.ng-animate {
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all; }

.animate-switch.ng-leave.ng-leave-active, .animate-switch.ng-enter {
  -webkit-transform: translate(-999px, 0);
  -moz-transform: translate(-999px, 0);
  -ms-transform: translate(-999px, 0);
  -o-transform: translate(-999px, 0);
  transform: translate(-999px, 0); }

.animate-switch.ng-leave, .animate-switch.ng-enter.ng-enter-active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.animate-push.ng-leave {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }

.animate-push.ng-enter {
  -webkit-transform: translate(1200px, 0);
  -moz-transform: translate(1200px, 0);
  -ms-transform: translate(1200px, 0);
  -o-transform: translate(1200px, 0);
  transform: translate(1200px, 0);
  opacity: 0; }

.animate-push.ng-leave.ng-leave-active {
  -webkit-transform: translate(-1200px, 0);
  -moz-transform: translate(-1200px, 0);
  -ms-transform: translate(-1200px, 0);
  -o-transform: translate(-1200px, 0);
  transform: translate(-1200px, 0);
  opacity: 0; }

.animate-push.ng-enter.ng-enter-active {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }
